# Auto detect text files and perform LF normalization
* text=auto
modle1_CNN12_1.h5 filter=lfs diff=lfs merge=lfs -text
.h5 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
